@font-face {
  font-family: 'MyFont';
  src: url('./fonts/SuperPixel-m2L8j.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'MyFont', sans-serif;
}

#loadingScreen {
  padding: 0%;
  margin: 0%;
  background-image: url("./assets/homescreen.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;   
  height: 100vh;  
}
/* .computerContainer{
  display: none;

} */

.container , .comp {
  border: 1px solid #9db1d1;
  width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;  
  align-content: flex-start;   
}

.all , .compAll{
  flex: 0 0 60px;     
  height: 50px;
  background-color: #101820;
  
  box-sizing: border-box;
  border: 1px solid white;
}

.all:hover{
  background-color: rgb(92, 92, 109);

}
.mainContainer{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.gamebtns{
  display: flex;
  justify-content: center;
  gap: 10px;
}

#start , #coordsButton ,#reset{
  padding: 15px;
  width: 150px;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.resetstyle{

}
#reset{
  display: none;
  margin: 20px;
  font-size: 20px;
  padding: 12px;
  margin-right: 190px;
}
#reset:hover {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.compAll{
  background-color: #101820;

}

#game{
  display: none;
}

#battelshipStart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro{
  padding: 3%;
  font-size: 80px;
}
span{
  color:red;
}
.cool-button {
  background: linear-gradient(135deg, #ee0101, #7873f5);
  border: none;
  border-radius: 12px;
  padding: 15px 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cool-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.4);
}

.cool-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.2);
  transition: all 0.5s;
  transform: skewX(-20deg);
}

.cool-button:hover::after {
  left: 200%;
}

nav{
  display: flex;
  justify-content: center;
  background-color: #101820;
  color: white;
  padding: 20px;
  font-size: 50px;
}